# Engineer:       Praveen Kumar Pendyala
# Date:           01/15/2014
# Modified:       01/16/2014
# Note:           The path (here sh/mp/alupuf) has to be adjusted in accordance with the project.

CONFIG PART = 5vlx110tff1136-1;



#########################################################################################################
###############################             PUF logic constraints       #################################
#########################################################################################################

###############		TEMPORARILY COMMENTED OUT		#########################

#INST "sh/mp/alupuf/b1_11" BEL = CFF;
#INST "sh/mp/alupuf/a2_11" BEL = DFF;
#INST "sh/mp/alupuf/b1_12" BEL = CFF;
#INST "sh/mp/alupuf/b1_13" BEL = CFF;
#INST "sh/mp/alupuf/b1_14" BEL = CFF;
#INST "sh/mp/alupuf/b1_15" BEL = CFF;
#INST "sh/mp/alupuf/b2_12" BEL = CFF;
#INST "sh/mp/alupuf/b2_11" BEL = CFF;
#INST "sh/mp/alupuf/b2_13" BEL = CFF;
#INST "sh/mp/alupuf/b2_14" BEL = CFF;
#INST "sh/mp/alupuf/b2_15" BEL = CFF;
#INST "sh/mp/alupuf/a2_14" BEL = DFF;
#INST "sh/mp/alupuf/a1_1" BEL = DFF;
#INST "sh/mp/alupuf/a2_0" BEL = DFF;
#INST "sh/mp/alupuf/b2_1" BEL = CFF;
#INST "sh/mp/alupuf/a1_0" BEL = DFF;
#INST "sh/mp/alupuf/b1_0" BEL = CFF;
#INST "sh/mp/alupuf/b2_0" BEL = CFF;
#INST "sh/mp/alupuf/b1_1" BEL = CFF;
#INST "sh/mp/alupuf/a1_2" BEL = DFF;
#INST "sh/mp/alupuf/b1_2" BEL = CFF;
#INST "sh/mp/alupuf/b2_2" BEL = CFF;
#INST "sh/mp/alupuf/a2_2" BEL = DFF;
#INST "sh/mp/alupuf/a2_1" BEL = DFF;
#INST "sh/mp/alupuf/b2_3" BEL = CFF;
#INST "sh/mp/alupuf/a2_3" BEL = DFF;
#INST "sh/mp/alupuf/b1_3" BEL = CFF;
#INST "sh/mp/alupuf/a1_3" BEL = DFF;
#INST "sh/mp/alupuf/a1_4" BEL = DFF;
#INST "sh/mp/alupuf/b1_4" BEL = CFF;
#INST "sh/mp/alupuf/b2_4" BEL = CFF;
#INST "sh/mp/alupuf/a2_4" BEL = DFF;
#INST "sh/mp/alupuf/a1_5" BEL = DFF;
#INST "sh/mp/alupuf/b1_5" BEL = CFF;
#INST "sh/mp/alupuf/a2_5" BEL = DFF;
#INST "sh/mp/alupuf/a2_6" BEL = DFF;
#INST "sh/mp/alupuf/b2_5" BEL = CFF;
#INST "sh/mp/alupuf/b2_6" BEL = CFF;
#INST "sh/mp/alupuf/a1_6" BEL = DFF;
#INST "sh/mp/alupuf/b1_6" BEL = CFF;
#INST "sh/mp/alupuf/a1_7" BEL = DFF;
#INST "sh/mp/alupuf/b1_7" BEL = CFF;
#INST "sh/mp/alupuf/a2_7" BEL = DFF;
#INST "sh/mp/alupuf/b2_7" BEL = CFF;
#INST "sh/mp/alupuf/a1_8" BEL = DFF;
#INST "sh/mp/alupuf/a1_9" BEL = DFF;
#INST "sh/mp/alupuf/a1_10" BEL = DFF;
#INST "sh/mp/alupuf/b1_8" BEL = CFF;
#INST "sh/mp/alupuf/b1_9" BEL = CFF;
#INST "sh/mp/alupuf/b1_10" BEL = CFF;
#INST "sh/mp/alupuf/a2_8" BEL = DFF;
#INST "sh/mp/alupuf/a2_9" BEL = DFF;
#INST "sh/mp/alupuf/a2_10" BEL = DFF;
#INST "sh/mp/alupuf/b2_8" BEL = CFF;
#INST "sh/mp/alupuf/b2_9" BEL = CFF;
#INST "sh/mp/alupuf/b2_10" BEL = CFF;
#INST "sh/mp/alupuf/a1_11" BEL = DFF;
#INST "sh/mp/alupuf/a1_15" BEL = DFF;
#INST "sh/mp/alupuf/a1_14" BEL = DFF;
#INST "sh/mp/alupuf/a1_13" BEL = DFF;
#INST "sh/mp/alupuf/a1_12" BEL = DFF;
#INST "sh/mp/alupuf/a2_15" BEL = DFF;
#INST "sh/mp/alupuf/a2_13" BEL = DFF;
#INST "sh/mp/alupuf/a2_12" BEL = DFF;
#INST "sh/mp/alupuf/a2_11" LOC = SLICE_X51Y149;
#INST "sh/mp/alupuf/b1_11" LOC = SLICE_X49Y149;
#INST "sh/mp/alupuf/b1_12" LOC = SLICE_X53Y149;
#INST "sh/mp/alupuf/b1_13" LOC = SLICE_X57Y149;
#INST "sh/mp/alupuf/b1_14" LOC = SLICE_X61Y149;
#INST "sh/mp/alupuf/b1_15" LOC = SLICE_X65Y149;
#INST "sh/mp/alupuf/b2_11" LOC = SLICE_X51Y149;
#INST "sh/mp/alupuf/b2_12" LOC = SLICE_X55Y149;
#INST "sh/mp/alupuf/b2_13" LOC = SLICE_X59Y149;
#INST "sh/mp/alupuf/b2_14" LOC = SLICE_X63Y149;
#INST "sh/mp/alupuf/b2_15" LOC = SLICE_X67Y149;
#INST "sh/mp/alupuf/a1_0" LOC = SLICE_X5Y149;
#INST "sh/mp/alupuf/a2_0" LOC = SLICE_X7Y149;
#INST "sh/mp/alupuf/a2_1" LOC = SLICE_X11Y149;
#INST "sh/mp/alupuf/a1_1" LOC = SLICE_X9Y149;
#INST "sh/mp/alupuf/b1_0" LOC = SLICE_X5Y149;
#INST "sh/mp/alupuf/b2_0" LOC = SLICE_X7Y149;
#INST "sh/mp/alupuf/b1_1" LOC = SLICE_X9Y149;
#INST "sh/mp/alupuf/b2_1" LOC = SLICE_X11Y149;
#INST "sh/mp/alupuf/a1_2" LOC = SLICE_X13Y149;
#INST "sh/mp/alupuf/b1_2" LOC = SLICE_X13Y149;
#INST "sh/mp/alupuf/b2_2" LOC = SLICE_X15Y149;
#INST "sh/mp/alupuf/a2_2" LOC = SLICE_X15Y149;
#INST "sh/mp/alupuf/b2_3" LOC = SLICE_X19Y149;
#INST "sh/mp/alupuf/a2_3" LOC = SLICE_X19Y149;
#INST "sh/mp/alupuf/b1_3" LOC = SLICE_X17Y149;
#INST "sh/mp/alupuf/a1_3" LOC = SLICE_X17Y149;
#INST "sh/mp/alupuf/a1_4" LOC = SLICE_X21Y149;
#INST "sh/mp/alupuf/b1_4" LOC = SLICE_X21Y149;
#INST "sh/mp/alupuf/b2_4" LOC = SLICE_X23Y149;
#INST "sh/mp/alupuf/a2_4" LOC = SLICE_X23Y149;
#INST "sh/mp/alupuf/a1_5" LOC = SLICE_X25Y149;
#INST "sh/mp/alupuf/b1_5" LOC = SLICE_X25Y149;
#INST "sh/mp/alupuf/a2_5" LOC = SLICE_X27Y149;
#INST "sh/mp/alupuf/a2_6" LOC = SLICE_X31Y149;
#INST "sh/mp/alupuf/b2_5" LOC = SLICE_X27Y149;
#INST "sh/mp/alupuf/b2_6" LOC = SLICE_X31Y149;
#INST "sh/mp/alupuf/a1_6" LOC = SLICE_X29Y149;
#INST "sh/mp/alupuf/b1_6" LOC = SLICE_X29Y149;
#INST "sh/mp/alupuf/a1_7" LOC = SLICE_X33Y149;
#INST "sh/mp/alupuf/b1_7" LOC = SLICE_X33Y149;
#INST "sh/mp/alupuf/a2_7" LOC = SLICE_X35Y149;
#INST "sh/mp/alupuf/b2_7" LOC = SLICE_X35Y149;
#INST "sh/mp/alupuf/a1_8" LOC = SLICE_X37Y149;
#INST "sh/mp/alupuf/a1_9" LOC = SLICE_X41Y149;
#INST "sh/mp/alupuf/a1_10" LOC = SLICE_X45Y149;
#INST "sh/mp/alupuf/b1_8" LOC = SLICE_X37Y149;
#INST "sh/mp/alupuf/b1_9" LOC = SLICE_X41Y149;
#INST "sh/mp/alupuf/b1_10" LOC = SLICE_X45Y149;
#INST "sh/mp/alupuf/a2_8" LOC = SLICE_X39Y149;
#INST "sh/mp/alupuf/a2_9" LOC = SLICE_X43Y149;
#INST "sh/mp/alupuf/a2_10" LOC = SLICE_X47Y149;
#INST "sh/mp/alupuf/b2_8" LOC = SLICE_X39Y149;
#INST "sh/mp/alupuf/b2_9" LOC = SLICE_X43Y149;
#INST "sh/mp/alupuf/b2_10" LOC = SLICE_X47Y149;
#INST "sh/mp/alupuf/a1_15" LOC = SLICE_X65Y149;
#INST "sh/mp/alupuf/a1_14" LOC = SLICE_X61Y149;
#INST "sh/mp/alupuf/a1_13" LOC = SLICE_X57Y149;
#INST "sh/mp/alupuf/a1_12" LOC = SLICE_X53Y149;
#INST "sh/mp/alupuf/a1_11" LOC = SLICE_X49Y149;
#INST "sh/mp/alupuf/a2_15" LOC = SLICE_X67Y149;
#INST "sh/mp/alupuf/a2_14" LOC = SLICE_X63Y149;
#INST "sh/mp/alupuf/a2_13" LOC = SLICE_X59Y149;
#INST "sh/mp/alupuf/a2_12" LOC = SLICE_X55Y149;
#
#
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<0>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<0>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<1>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<1>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<2>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<2>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<3>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<3>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<4>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<5>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<4>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<5>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<6>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<7>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<6>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<7>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<8>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<9>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<10>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<11>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<9>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<10>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<11>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<12>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<13>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<14>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<15>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<12>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<13>" BEL = B6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<14>" BEL = C6LUT;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<15>" BEL = D6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<3>" LOC = SLICE_X17Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<3>" LOC = SLICE_X19Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<7>" LOC = SLICE_X33Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<7>" LOC = SLICE_X35Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<11>" LOC = SLICE_X49Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<11>" LOC = SLICE_X51Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<15>" LOC = SLICE_X65Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<15>" LOC = SLICE_X67Y149;
#
#
#
#
#
#INST "sh/mp/alupuf/c1<15>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<15>1" LOC = SLICE_X65Y150;
#INST "sh/mp/alupuf/c2<15>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<15>1" LOC = SLICE_X67Y150;
#INST "sh/mp/alupuf/c1<14>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<14>1" LOC = SLICE_X61Y150;
#INST "sh/mp/alupuf/c2<14>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<14>1" LOC = SLICE_X63Y150;
#INST "sh/mp/alupuf/c2<13>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<13>1" LOC = SLICE_X59Y150;
#INST "sh/mp/alupuf/c1<13>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<13>1" LOC = SLICE_X57Y150;
#INST "sh/mp/alupuf/c2<12>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<12>1" LOC = SLICE_X55Y150;
#INST "sh/mp/alupuf/c1<12>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<12>1" LOC = SLICE_X53Y150;
#INST "sh/mp/alupuf/c1<11>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<11>1" LOC = SLICE_X49Y150;
#INST "sh/mp/alupuf/c2<11>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<11>1" LOC = SLICE_X51Y150;
#INST "sh/mp/alupuf/c2<10>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<10>1" LOC = SLICE_X47Y150;
#INST "sh/mp/alupuf/c1<10>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<10>1" LOC = SLICE_X45Y150;
#INST "sh/mp/alupuf/c2<9>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<9>1" LOC = SLICE_X43Y150;
#INST "sh/mp/alupuf/c1<9>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<9>1" LOC = SLICE_X41Y150;
#INST "sh/mp/alupuf/c2<8>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<8>1" LOC = SLICE_X39Y150;
#INST "sh/mp/alupuf/c1<8>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<8>1" LOC = SLICE_X37Y150;
#INST "sh/mp/alupuf/c2<7>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<7>1" LOC = SLICE_X35Y150;
#INST "sh/mp/alupuf/c1<7>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<7>1" LOC = SLICE_X33Y150;
#INST "sh/mp/alupuf/c2<6>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<6>1" LOC = SLICE_X31Y150;
#INST "sh/mp/alupuf/c1<6>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<6>1" LOC = SLICE_X29Y150;
#INST "sh/mp/alupuf/c2<5>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<5>1" LOC = SLICE_X27Y150;
#INST "sh/mp/alupuf/c1<5>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<5>1" LOC = SLICE_X25Y150;
#INST "sh/mp/alupuf/c2<4>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<4>1" LOC = SLICE_X23Y150;
#INST "sh/mp/alupuf/c1<4>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<4>1" LOC = SLICE_X21Y150;
#INST "sh/mp/alupuf/c2<3>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<3>1" LOC = SLICE_X19Y150;
#INST "sh/mp/alupuf/c1<3>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<3>1" LOC = SLICE_X17Y150;
#INST "sh/mp/alupuf/c2<2>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<2>1" LOC = SLICE_X15Y150;
#INST "sh/mp/alupuf/c1<2>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<2>1" LOC = SLICE_X13Y150;
#INST "sh/mp/alupuf/c1<1>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<1>1" LOC = SLICE_X9Y150;
#INST "sh/mp/alupuf/c2<1>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<1>1" LOC = SLICE_X11Y150;
#INST "sh/mp/alupuf/c1<0>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c1<0>1" LOC = SLICE_X5Y150;
#INST "sh/mp/alupuf/c2<0>1" BEL = A6LUT;
#INST "sh/mp/alupuf/c2<0>1" LOC = SLICE_X7Y150;
#
#
#
#
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<0>" LOC = SLICE_X7Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<0>" LOC = SLICE_X5Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<1>" LOC = SLICE_X9Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<1>" LOC = SLICE_X11Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<2>" LOC = SLICE_X15Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<2>" LOC = SLICE_X13Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<4>" LOC = SLICE_X21Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<5>" LOC = SLICE_X25Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<4>" LOC = SLICE_X23Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<5>" LOC = SLICE_X27Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<6>" LOC = SLICE_X29Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<8>" BEL = A6LUT;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<8>" LOC = SLICE_X37Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<6>" LOC = SLICE_X31Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<8>" LOC = SLICE_X39Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<9>" LOC = SLICE_X41Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<10>" LOC = SLICE_X45Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<9>" LOC = SLICE_X43Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<10>" LOC = SLICE_X47Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<12>" LOC = SLICE_X53Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<13>" LOC = SLICE_X57Y149;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_lut<14>" LOC = SLICE_X61Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<12>" LOC = SLICE_X55Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<13>" LOC = SLICE_X59Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_lut<14>" LOC = SLICE_X63Y149;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<15>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<14>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<13>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<13>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<12>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<12>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<11>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<11>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<10>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<10>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<9>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<9>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<8>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<8>" LOC = SLICE_X41Y154;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<7>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<7>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<6>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<6>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<5>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<5>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<4>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<4>" LOC = SLICE_X41Y153;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<3>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<3>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<2>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<2>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<1>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<1>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<0>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_cy<0>" LOC = SLICE_X41Y152;
#INST "sh/mp/alupuf/Madd_c2_addsub0000_xor<14>" LOC = SLICE_X41Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<15>" LOC = SLICE_X40Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<14>" LOC = SLICE_X40Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<14>" LOC = SLICE_X40Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<0>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<0>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<1>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<1>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<2>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<2>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<3>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<3>" LOC = SLICE_X40Y152;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<4>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<4>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<5>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<5>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<6>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<6>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<7>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<7>" LOC = SLICE_X40Y153;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<8>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<8>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<9>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<9>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<10>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<10>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<11>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<11>" LOC = SLICE_X40Y154;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<12>" LOC = SLICE_X40Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<12>" LOC = SLICE_X40Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_cy<13>" LOC = SLICE_X40Y155;
#INST "sh/mp/alupuf/Madd_c1_addsub0000_xor<13>" LOC = SLICE_X40Y155;
